/* == THEME SYSTEM (DARK / LIGHT) == */

:root {
  --bg: #0b0f1a;
  --text: #ffffff;
  --primary: #22d3ee;
  --textt: #ffffff;
  /* ------------------------- */
  --nav-bg: rgba(10,10,10,0.85);
  --card-bg: rgba(255, 255, 255, 0.85);
  --border: rgba(34,211,238,0.2);
  --overlay: rgba(0,0,0,0.7);
  --box-bg:rgba(0, 0, 0, 0.4);
  --rate-bg: #161616;
  --text-muted: #9ca3af;
  --highlight: #9ca3af;
}

/* LIGHT MODE */
body.light-mode {
  --bg: #f5f5f5;
  --text: #000000;
  --primary: #00bcd4;
  --textt: #ffffff;
  /* ------------------------- */
  --nav-bg: #ffffff;
  --card-bg: #ffffff62;
  --border: #22d3ee;
  --overlay: rgba(12, 12, 12, 0.144);
  --box-bg:rgba(24, 22, 22, 0.374);
  --text-muted: #555;
  --highlight: #ffffffb4;
  --rate-bg: #ffffff;
}

/* RESET */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* == NAVBAR == */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--nav-bg);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

.navbar.scrolled {
  box-shadow: 0 0 15px var(--border);
}

.nav-container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

/* LINKS */
.nav-center {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-center a {
  color: var(--text-muted);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.nav-center a:hover {
  color: var(--primary);
}
.nav-center a.active {
  color: var(--primary);
}

.nav-center a.active::after {
  width: 100%;
}

/* LOGO */
.logo {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  color: var(--primary);
}

/* RIGHT */
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* MODE BUTTON  */
.mode-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  background: transparent;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.mode-btn:hover {
  background: transparent;
  color: black;
  box-shadow: 0 0 10px var(--primary);
}

/* PLAY BUTTON */
.play-btn {
  background: var(--primary);
  color: rgb(0, 0, 0);
  padding: 6px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* == HERO == */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.hero-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.hero-tag {
  display: inline-block;
  padding: 6px 16px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  background:rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(6px);
  font-size: 17px;
  margin-bottom: 20px;

}
.hero h1 {
  font-size: 70px;
  color: var(--textt);
}
.hero span {
  color: var(--primary);
}
.highlight {
  font-size: 19px;
  color: var(--highlight);
  margin-bottom: 50px;
}
/* == STATS ==*/
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.stat-box {
  background: var(--box-bg);
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 35px;
  width: 170px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.stat-box i {
  color: var(--primary);
  font-size: 35px;
}

.stat-box h3 {
  margin: 5px 0;
  color: var(--textt);
}

.stat-box span {
  color: var(--text-muted);
}

.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px var(--primary);
}

/* =======WJN========= GAMES PAGE =======WJN========= */

.games-hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.scroll-indicator {
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #9ca3af;
  font-size: 12px;
  letter-spacing: 2px;
}

/* ARROW */
.arrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid #00eaff;
  border-bottom: 2px solid #00eaff;
  transform: rotate(-45deg);
  margin: 10px auto 0;
  animation: bounce 1.5s infinite;
}

/* animation */
@keyframes bounce {
  0%, 100% {
    transform: rotate(-45deg) translateY(0);
  }
  50% {
    transform: rotate(-45deg) translateY(10px);
  }
}

/* CARD */
.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  

}
.game-card {
  height: 420px;
  background: linear-gradient(180deg, #0b1220, #0a0f1a);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--border);
  transition: all 0.3s ease;
}

/* IMAGE */
.card-img {
  position: relative;
 
}

.card-img img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

/* OVERLAY */
.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

/* RANK */
.rank {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff3b3b;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

/* RATING */
.rating {
  position: absolute;
  top: 12px;
  right: 12px;
  background: var(--rate-bg);
  padding: 6px 12px;
  border-radius: 20px;
}

/* POPULARITY */
.popularity-top {
  position: absolute;
  bottom: 12px;
  left: 15px;
  right: 15px;
  color: white;
}

.percent {
  float: right;
  font-weight: bold;
}

.bar {
  height: 6px;
  background: #222;
  border-radius: 10px;
  margin-top: 6px;
}

.bar div {
  height: 100%;
  background: linear-gradient(to right, #ff3b3b, #ff6b6b);
  border-radius: 10px;
}

/* CONTENT */
.card-content {
  padding: 20px;
}

.sub {
  color: var(--primary);
  font-size: 14px;
}

.desc {
  margin: 15px 0;
  color: #bbb;
}

.game-card h3 {
  color: var(--textt);
}
.tags span {
  background: rgba(101, 101, 101, 0.354);
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 12px;
  color: var(--textt);
}

.card-content hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,0.08);
  margin: 15px 0;
  
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textt);
}

/* HOVER */
.game-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px var(--primary);
}



/* =========WJN==========   ABOUT PAGE   ===========WJN=========== */
.about-intro {
  position: relative;
  padding: 120px 20px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255,255,255,0.03);
}

/* Frame Glow */
.about-intro::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: radial-gradient(circle at top, rgba(0,255,255,0.08), transparent 60%);
  pointer-events: none;
}

/* Grid Tech */
.about-intro::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 40px 40px;
  opacity: 0.3;
  pointer-events: none;
}

.intro-container {
  max-width: 900px;
  margin: auto;
  padding: 60px 40px;
  border-radius: 25px;

  background: #0b0f1a;
  backdrop-filter: blur(10px);

  border: 1px solid rgba(0,255,255,0.15);

  box-shadow: 0 0 40px rgba(9, 22, 42, 0.132);
}

.mini-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.mini-stats h3 {
  font-size: 28px;
  color: var(--primary);
}

.mini-stats span {
  font-size: 13px;
  color: var(--text-muted);
} 

.esports-tag {
  display: inline-block;
  margin-bottom: 15px;
  padding: 6px 14px;
  border-radius: 50px;
  background: rgba(0,255,255,0.1);
  color: var(--primary);
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid rgba(0,255,255,0.3);
}

.intro-container h2 span {
  color: var(--primary);
  text-shadow: 0 0 20px rgba(0,255,255,0.6);
}


/* TEXT */
.lead {
  color: var(--text-muted);
  line-height: 1.6;
}

/* STATS */
.intro-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.stat h3 {
  color: var(--primary);
  font-size: 28px;
}

.stat span {
  font-size: 13px;
  color: var(--text-muted);
}

/* === ABOUT PAGE   === */
/* HERO */
.about-hero {
  height: 80vh;
  background: url('../images/esports.jpg') center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  border-top: 2px solid rgba(0,255,255,0.8);
  border-bottom: 2px solid rgba(0,255,255,0.8);
}
.about-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 50px;
}

.hero-content span {
  color: var(--primary);
}

/* 2030 VISION SECTION */
.about-split-v2 {
  position: relative;
  padding: 120px 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

/* TEXT */
.split-text {
  position: relative;
  max-width: 600px;
}

.split-text h2 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 800;
}

.split-text h2 span {
  color: var(--primary);
}

.split-text p {
  margin-top: 20px;
  color: var(--text-muted);
  max-width: 500px;
}

/* IMAGE */
.split-image {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.split-image img {
  width: 90%;
  border-radius: 5px;
  margin-top: 80px; 
}

.tags {
  margin-top: 40px;
}


/* SECTION JOURNEY */
.journey {
  padding: 100px 20px;
  text-align: center;
  background-color:#0b0f1a;
}

/* TIMELINE */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 60px auto;
}

/* LINE*/
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(0,255,255,0.3);
  transform: translateX(-50%);
}

/* ITEM */
.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px 8PX;
}

/* POINT */
.timeline-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: var(--primary);
  border-radius: 50%;
}

.timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
}

/* CARD - CONTENT */
.content {
  background: rgba(255,255,255,0.03);
  padding: 20px;
  border-radius: 12px;
   min-width: 160px;
  border: 1px solid var(--border);
}
/* YEAR */
.year {
  color: var(--primary);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


:root {
  --primary: #00e0ff;
}

/* ==== NUMBERS ===== */

.numbers {
  padding: 100px 20px;
  text-align: center;
  background: #0b0f1a;
}

.numbers h2 {
  font-size: 32px;
}

.numbers h2 span {
  color: var(--primary);
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.number-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.number-card:hover {
  transform: translateY(-10px) scale(1.03);
  border-color: var(--primary);
}

.number-card h3 {
  color: var(--primary);
}

.number-card p {
  color: #aaa;
}

/* ================= FUTURE ================= */

.future {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 100px 40px;
  background: #06080f;
  align-items: start;
}

/* LEFT */

.left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tag {
  background: rgba(0,255,150,0.1);
  color: var(--primary);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
}

.left h2 span {
  color: var(--primary);
}

.left p {
  color: #aaa;
}

/* QUOTE */

.quote-box {
  padding: 25px;
  border-radius: 16px;
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.quote-box:hover {
  transform: translateY(-8px);
}

.quote-text {
  color: #ddd;
}

.quote-author {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: rgba(0,255,150,0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTONS */

.buttons a {
  text-decoration: none;
  margin-right: 10px;
}
.btn-primary {
  background: var(--primary);
  padding: 12px 20px;
  border-radius: 30px;
  color: black;
}
.btn-outline {
  border: 1px solid white;
  padding: 12px 20px;
  border-radius: 30px;
  color: white;
}
/* RIGHT (TIMELINE) */
.right {
  position: relative;
  padding-left: 50px;
}
.right::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary), transparent);
}
.road-item {
  position: relative;
  margin-bottom: 50px;
  padding: 20px 20px 20px 30px;
  background: rgba(255,255,255,0.02);
  border-radius: 12px;
  border: 1px solid rgba(0,255,150,0.15);
  transition: 0.3s;
}
.road-item:hover {
  transform: translateX(10px);
}
.road-item::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 25px;
  width: 12px;
  height: 12px;
  background: var(--primary);
  border-radius: 50%;
}

/* ANIMATION */

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.8s;
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .future {
    grid-template-columns: 1fr;
  }
}

/* ALL CARDS HOVER  */
.number-card,
.road-item,
.quote-box {
  transition: all 0.3s ease;
}

.number-card:hover,
.road-item:hover,
.quote-box:hover {
  transform: translateY(-8px) scale(1.02);
  border-color: var(--primary);

  box-shadow:
    0 10px 30px rgba(0,0,0,0.4),
    0 0 20px rgba(0,224,255,0.15);
}
.btn-primary,
.btn-outline {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* PRIMARY */
.btn-primary:hover {
  transform: translateY(-3px) scale(1.05);

  box-shadow:
    0 5px 10px rgba(0,224,255,0.4),
    0 0 9px rgba(0,224,255,0.6);
}

/* OUTLINE */
.btn-outline:hover {
  transform: translateY(-3px) scale(1.05);

  background: rgba(255,255,255,0.05);
  border-color: var(--primary);

  box-shadow:
    0 5px 25px rgba(0,0,0,0.4),
    0 0 5px rgba(0,224,255,0.3);
}

:root {
  --primary: #00e0ff;
}

/* HERO */
.teams-hero {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.tag {
  background: rgba(0,255,150,0.1);
  color: var(--primary);
  padding: 6px 14px;
  border-radius: 20px;
}

.hero-content h1 {
  font-size: 60px;
}
.hero-content span {
  color: var(--primary);
}
.hero-content p {
  color: #aaa;
}
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.hero-stats div {
  text-align: center;
}

.hero-stats strong {
  color: var(--primary);
  display: block;
}


/*==============WJN===== TEAMS PAGE =====WJN===============*/
/* HERO */
.teams-hero {
  height: 90vh;
  
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* overlay */
.teams-hero-overlay {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), #05070d),
    radial-gradient(circle, rgba(0,224,255,0.1), transparent);
}

/* content */
.teams-hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

/* tag */
.teams-hero-tag {
  background: rgba(0,224,255,0.1);
  color: var(--primary);
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
}

/* title */
.teams-hero h1 {
  font-size: 64px;
  margin: 20px 0;
}

.teams-hero h1 span {
  color: var(--primary);
}

/* desc */
.teams-hero p {
  color: #aaa;
  font-size: 16px;
}

/* stats */
.teams-hero-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

/* stat */
.teams-stat {
  text-align: center;
}

/* icon */
.teams-stat img {
  width: 45px;
  height: 45px;

  padding: 10px;
  border-radius: 50%;

  background: rgba(0,224,255,0.1);
  border: 1px solid rgba(0,224,255,0.2);

  margin-bottom: 10px;
  transition: 0.3s;
}

/* hover */
.teams-stat:hover img {
  transform: scale(1.1);
  box-shadow:
    0 0 15px rgba(0,224,255,0.6),
    0 0 30px rgba(0,224,255,0.3);
}

/* text */
.teams-stat strong {
  display: block;
  color: var(--primary);
}

.teams-stat span {
  color: #aaa;
  font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .teams-hero h1 {
    font-size: 40px;
  }

  .teams-hero-stats {
    flex-direction: column;
    gap: 20px;
  }

}

/* SECTION */
.teams-section {
  padding: 80px 40px;
  background: #05070d;
}

/* GRID */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.teams-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: #0b0f1a;
  border-radius: 20px;
  overflow: hidden;

  border: 1px solid rgba(255,255,255,0.05);
  transition: 0.3s ease;
}
/* IMAGE */
.teams-card-image {
  height: 200px;
  position: relative;
}
.teams-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* TIER */
.teams-tier {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 12px;
  background: rgba(0,0,0,0.6);
}
/* BODY */
.teams-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  text-align: center;
}
/* TEXT */
.teams-meta {
  color: #777;
  font-size: 13px;
}
.teams-desc {
  color: #aaa;
  margin: 10px 0;
}
/* GAMES */
.teams-games span {
  background: rgba(255,255,255,0.1);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 3px;
  font-size: 12px;
}
/* STATS */
.teams-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.teams-stats strong {
  color: var(--primary);
}

/* HOVER BASE */
.teams-card:hover {
  transform: translateY(-10px) scale(1.02);
}

/* COLORS FOR EACH TEAM */
.teams-card.s:hover {
  border-color: #00e0ff;
  box-shadow: 0 0 25px #00e0ff;
}

.teams-card.a:hover {
  border-color: #ff3b3b;
  box-shadow: 0 0 25px #ff3b3b;
}

.teams-card.b:hover {
  border-color: #ffd500;
  box-shadow: 0 0 25px #ffd500;
}

.teams-card.p:hover {
  border-color: #ffffff;
  box-shadow: 0 0 25px #ffffff;
}

.teams-card.g:hover {
  border-color: #00ff88;
  box-shadow: 0 0 25px #00ff88;
}
/* RESPONSIVE */
@media (max-width: 900px) {
  .teams-grid {
    grid-template-columns: 1fr;
  }
}

/* =======WJN========== EVENTS PAGE =========WJN======== */
/* ==== EVENTS HERO ==== */

.events-hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* BG */
.events-hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.events-hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

/* OVERLAY */
.events-hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.6), #05070d),
    radial-gradient(circle at center, rgba(0, 191, 255, 0.187), transparent);
}

/* CONTENT */
.events-hero-content {
  position: relative;
  z-index: 3;

  text-align: center;
  max-width: 900px;
  padding: 0 20px;
}

/* TAG */
.events-hero-tag {
  display: inline-block;
  margin-bottom: 20px;

  padding: 6px 16px;
  border-radius: 30px;
  font-size: 12px;

  background: (var(--primary));
  border: 1px solid rgba(0, 179, 255, 0.3);
  color: var(--primary);
}

/* TITLE */
.events-hero-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.1;
  color: #fffcfc;
}

.events-hero-title span {
  color: var(--primary);
}

/* DESC */
.events-hero-desc {
  color: #aaa;
  margin-top: 15px;
  font-size: 18px;
}

/* ==== STATS ==== */

.events-hero-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.events-hero-stat {
  text-align: center;
  transition: 0.3s;
}
/* ICON */
.events-hero-stat img {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(0, 174, 255, 0.1);
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}
/* NUMBER */
.events-hero-stat strong {
  display: block;
  margin-top: 10px;
  font-size: 22px;
  transition: 0.3s;
  color: #ffffff;
}
/* TEXT */
.events-hero-stat span {
  font-size: 14px;
  color: #aaa;
}
/* HOVER */
.events-hero-stat:hover img {
  transform: scale(1.15) rotate(5deg);
  box-shadow:
    0 0 10px rgba(0, 225, 255, 0.8),
    0 0 25px rgba(0, 229, 255, 0.285);
}
.events-hero-stat:hover strong {
  transform: translateY(-3px);
}
.view-details-btn {
  margin-top: 30px;

  padding: 12px 28px;
  font-size: 14px;
  font-weight: 600;

  color: #fff;
  background: linear-gradient(135deg,rgba(0,224,255,0.3), rgba(0, 225, 255, 0.648));
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
/* GLOW EFFECT */
.view-details-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
  opacity: 0;
  transition: 0.4s;
}
/* HOVER */
.view-details-btn:hover {
  transform: translateY(-1px);

  box-shadow:
    0 0 15px rgba(0,224,255,0.3),
    0 0 30px rgba(0, 225, 255, 0.623);
}
.view-details-btn:hover::before {
  opacity: 1;
}
/* ACTIVE */
.view-details-btn:active {
  transform: scale(0.95);
}

/* ==== FEATURED ==== */

.events-featured {
  padding: 80px 0;
  background: #05070d;
}
.events-featured-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.events-featured-card {
  position: relative;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
/* BG */
.events-featured-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.events-featured-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* overlay */
.events-featured-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  background: linear-gradient(to right, rgba(0,0,0,0.95), transparent);
}
/* content */
.events-featured-content {
  position: relative;
  z-index: 3;
  max-width: 600px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
/* badges */
.events-featured-badges {
  display: flex;
  gap: 10px;
}
.events-badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}
.events-badge.green { background: rgba(0, 225, 255, 0.619); color:#00f2ff; }
.events-badge.done { background:rgba(0,224,255,0.3); }
.events-badge.gray { background: rgba(248, 245, 245, 0.2); }

/* text */
.events-featured-title {
  font-size: 50px;
}
.events-featured-subtitle {
  color: var(--primary);
}
.events-featured-desc {
  color: #bbb;
}
.events-featured-stats {
  display: flex;
  gap: 30px;
  color: var(--primary);
}

.events-featured-meta {
  display: flex;
  gap: 20px;
  color: #888;
}
/* button */
.events-btn-primary {
  width: fit-content;
  background: var(--primary);
  color: black;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.events-btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary);
}

/* MODAL */
.event-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  padding: 40px 0; 
  overflow-y: auto; 
}

/* BOX */
.event-modal-box {
  width: 90%;
  max-width: 1200px;

  max-height: 90vh; 
  overflow-y: auto; 

  background: #05070d;
  border-radius: 20px;
  position: relative;
}

/* CLOSE */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

/* HERO */
.modal-hero {
  position: relative;
  height: 300px;
}

.modal-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,200,170,0.45);
}

/* CONTENT */
.modal-hero-content {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
}

.modal-hero-content h1 {
  font-size: 42px;
}

.modal-hero-content p {
  color: #00ffd0;
}

/* TAGS */
.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}

.yellow { background: rgba(255,200,0,0.2); color: #ffc400; }
.green { background: rgba(0,255,200,0.2); color: #00ffd0; }

/* BODY */
.modal-body {
  padding: 30px;
}

/* STATS */
.modal-stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: #0b1220;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.stat-card .icon {
  margin-bottom: 10px;
  color: #00ffd0;
}

.stat-card strong {
  display: block;
  font-size: 20px;
}

.stat-card span {
  color: #aaa;
  font-size: 14px;
}

/* SECTION */
.modal-section {
  margin-top: 25px;
}

.modal-section h3 {
  margin-bottom: 10px;
}

/* HIGHLIGHTS */
.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* GAMES */
.games {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.games span {
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(0,255,200,0.1);
  border: 1px solid rgba(0,255,200,0.3);
  color: #00ffd0;
}

/* INFO BOX */
.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin-top: 30px;
  padding: 20px;

  background: #0b1220;
  border-radius: 15px;
}

.info-box span {
  color: #888;
  font-size: 13px;
}

.info-box strong {
  display: block;
}

/* TAGS */
.bottom-tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.bottom-tags span {
  padding: 6px 12px;
  border-radius: 20px;
  background: #111827;
  color: #aaa;
}
.event-modal-box::-webkit-scrollbar {
  width: 6px;
}

.event-modal-box::-webkit-scrollbar-thumb {
  background: #00ffd0;
  border-radius: 10px;
}

/* ================= TIMELINE SECTION ================= */

/* ===== HEADER ===== */

.timeline-header {
  text-align: center;
  margin-bottom: 50px;
}

/* BADGE */
.timeline-badge {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 1px;

  color: var(--primary);
  background: rgba(0,255,200,0.08);
  border: 1px solid rgba(0,255,200,0.25);

  backdrop-filter: blur(10px);

  margin-bottom: 15px;
}

/* H2 TITLE */
.timeline-header h2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  background: linear-gradient(90deg, #ffffff7d, var(--primary));

  margin-bottom: 10px;
}

/* SUB TEXT */
.timeline-header p {
  color: #9ca3af;
  font-size: 16px;
  max-width: 600px;
  margin: auto;
}

/* TIMELINE SECTION */
.timeline-modern {
  padding: 100px 20px;
  background: #05070d;
}

/* WRAPPER */
.timeline-modern-wrapper {
  position: relative;
  max-width: 800px;
  margin: 60px auto;
  padding-left: 50px;
}

/* LINE */
.timeline-modern-wrapper::before {
  content: "";
  position: absolute;
  left: 29px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #1f2937;
}

/* ITEM */
.timeline-modern-item {
  position: relative;
  margin-bottom: 50px;
}

/* ICON */
.timeline-modern-icon {
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICON IMG */
.timeline-modern-icon img {
  width: 18px;
}

/* CARD */
.timeline-modern-card {
  background: #0b1220;
  padding: 20px;
  border-radius: 15px;
}

/* COLORS */
.blue { color: #00e0ff; }
.yellow { color: #ffc400; }
.red { color: #ff4d4d; }
.green { color: #00ff88; }
.purple { color: #a855f7; }
.pink { color: #ff3ea5; }

.timeline-modern-icon.blue {
  background: rgba(0,224,255,0.15);
  box-shadow: 0 0 10px #00e0ff;
}

.timeline-modern-icon.yellow {
  background: rgba(255,196,0,0.15);
  box-shadow: 0 0 10px #ffc400;
}

.timeline-modern-icon.red {
  background: rgba(255,77,77,0.15);
  box-shadow: 0 0 10px #ff4d4d;
}

.timeline-modern-icon.green {
  background: rgba(0,255,136,0.15);
  box-shadow: 0 0 10px #00ff88;
}

.timeline-modern-icon.purple {
  background: rgba(168,85,247,0.15);
  box-shadow: 0 0 10px #a855f7;
}

.timeline-modern-icon.pink {
  background: rgba(255,62,165,0.15);
  box-shadow: 0 0 10px #ff3ea5;
}

/* ======WJN========= TIMELINE PAGE ======WJN=========== */
/* ==== TIMELINE HERO ==== */

.timeline-page .timeline-hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

/* BG */
.timeline-page .hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  
  filter: brightness(0.5);
}

/* OVERLAY */
.timeline-page .hero-overlay {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.6), #05070d),
    radial-gradient(circle at center, rgba(255,180,0,0.15), transparent);
}

/* CONTENT  */
.timeline-page .hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  max-width: 900px;    
  margin: auto; 
}

/* BADGE */

.timeline-page.hero-badge {
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  background: rgba(0, 224, 255, 0.1);
  color: var(--primary);
  padding: 6px 16px;
  border-radius: 20px;
}


/* TITLE */
.hero-content h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.1;
  color: #ffffff;
}

.hero-content h1 span {
  color: var(--primary);
}

/* TEXT */
.hero-content p {
  max-width: 700px;
  margin-top: 15px;
  color: #aaa;
  font-size: 18px;
}

/* STATS */
.timeline-page .hero-stats {
  display: flex;
  gap: 60px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.timeline-page .hero-stats span {
color: var(--highlight);
}

/* ==== TIMELINE BAR ==== */
.timeline-page .timeline-bar {
  margin-top: 60px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #0b1220;
  padding: 30px 0;
  scrollbar-width: none;
   position: sticky;

  z-index: 1000;
  background: #0b1220;
  top: 75px;
}
.timeline-bar::-webkit-scrollbar {
  display: none;
}

/* TRACK */
.timeline-track {
  display: flex;
  gap: 60px;
  width: max-content;
  padding: 0 60px;
  position: relative;
  align-items: center;
}

/* LINE */
.timeline-track::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  opacity: 10%;
  transform: translateY(-50%);
}

/* YEAR */
.timeline-page .timeline-year {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #888;
  min-width: 60px;
  z-index: 2;
}

/* DOT */
.timeline-year::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  margin: auto;
  margin-bottom: 8px;
  background: transparent;
  transition: 0.3s;
}

/* ACTIVE */
.timeline-year.active {
  color: #fff;
}

.timeline-year.active::before {
  background:var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

/* HOVER */
.timeline-year:hover::before {
  transform: scale(1.2);
}

/* ==== YEAR DETAIL SECTION ====*/

.timeline-page .year-section {
  height: 100vh;
  padding: 120px 40px;
  background: #05070d;
  border-bottom: 1px solid #111;
}

.year-detail {
  padding: 120px 20px;
  background: #05070d;
}

.timeline-page .year-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

/* ====TEXT ==== */

.year-number {
  color: var(--primary);
  font-size: 14px;
  letter-spacing: 1px;
}

.year-content h2 {
  font-size: 48px;
  font-weight: 800;
  margin: 10px 0;
  color: #ffffff;
}

.year-content h4 {
  color: #9ca3af;
  margin-bottom: 20px;
}

.year-desc {
  color: #9ca3af;
  line-height: 1.7;
  margin-bottom: 40px;
}

/* ==== STATS ==== */

.year-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.year-stats div {
  background: #0b1220;
  padding: 20px;
  border-radius: 15px;

  transition: 0.3s;
}

.year-stats div:hover {
  transform: translateY(-5px);
}

.year-stats strong {
  font-size: 22px;
  display: block;
  color: #ffffff;
}

.year-stats span {
  font-size: 13px;
  color: #aaa;
}

/* ==== MILESTONES ==== */

.year-milestones h3 {
  margin-bottom: 15px;

}

.year-milestones ul {
  list-style: none;
  padding: 0;
}

.year-milestones li {
  margin-bottom: 18px;
  padding-left: 20px;
  position: relative;
}

/* bullet */
.year-milestones li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary);
}

.year-milestones strong {
  display: block;
  margin-bottom: 4px;
  color: #ffffff;
}
.year-milestones p {
  color: #ffffff;
}

/* ====  HIGHLIGHT ===== */

.year-highlight {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(0,255,200,0.08);
  border: 1px solid rgba(0,255,200,0.2);
  box-shadow: 0 0 20px rgba(0,255,200,0.15);
}

.year-highlight span {
  font-size: 12px;
  color: var(--primary);
}

.year-highlight h4 {
  margin-top: 5px;
}

/* ==== IMAGE ==== */

.year-image img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 20px;

  transition: 0.4s;
}
.year-image img:hover {
  transform: scale(1.05);
}
/*  BEFORE SHOW*/
.year-detail {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

/* AFRTER SHOW */
.year-detail.show {
  opacity: 1;
  transform: translateY(0);
}


/*======== UX HELP BUTTONS ========= */
.timeline-cta {
  padding: 80px 20px;
  background: #05070d;
  text-align: center;
}

/* CONTAINER */
.cta-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* BUTTON BASE */
.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 26px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  color: #ddd;

  transition: 0.3s;
}

/* ICON */
.cta-btn i {
  font-size: 14px;
}

/* PRIMARY  */
.cta-btn.primary {
  background: linear-gradient(135deg, #ffb300, #ff7b00);
  color: #000;
  border: none;
}

/* HOVER */
.cta-btn:hover {
  transform: translateY(-3px);
  border-color: #fff;
  color: #fff;
}

.cta-btn.primary:hover {
  box-shadow: 0 0 20px rgba(255,180,0,0.5);
}



/*========WJN============ INFRA PAGE =============WJN=======*/
/* HERO */
.infra-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.infra-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

/* overlay */
.infra-overlay {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.55), #05070d),
    radial-gradient(circle, rgba(0, 234, 255, 0.123), transparent);
}

/* canvas COVER ALL SECTION*/
#infraCanvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* CONTENT TOP */
.infra-content {
  position: relative;
  z-index: 2;
}

/* content */
.infra-content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 140px ;   
  padding-top: 200px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.infra-content h1 {
  font-size: 64px;
  color: #ffffff;
}
.infra-content p {
  color: #ffffff;
}
.infra-content span {
  color: var(--primary);
}

.infra-actions {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.infra-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  text-decoration: none;

  transition: 0.3s;
}

/* primary */
.infra-btn.primary {
  background: linear-gradient(135deg, #00ffd0, #00c3ff);
  color: #000;
}

/* outline */
.infra-btn.outline {
  border: 1px solid rgba(0,255,200,0.4);
  color: var(--primary);
}

/* hover */
.infra-btn:hover {
  transform: translateY(-2px);
}

.infra-btn.primary:hover {
  box-shadow: 0 0 20px rgba(0,255,200,0.5);
}

.infra-btn.outline:hover {
  background: rgba(0,255,200,0.1);
}

/*==== SECTION WHAT MATTER  ====*/

/* HEADER */
.infra-core-header {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
}

.infra-core-header h2 {
  font-size: 48px;
}

.infra-core-header span {
  color: var(--primary);
}


/* badge */
.infra-badge {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 20px;
  background: rgba(0,255,200,0.1);
  color: var(--primary);
  margin-bottom: 15px;
}

/* stats */
.infra-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.infra-stats strong {
  display: block;
  font-size: 20px;
  color: #ffffff;
}


.infra-core {
  padding: 100px 20px;
  background: #05070d;
}

.infra-card {
  display: flex;
  align-items: stretch;
  gap: 0;

  background: #0b1220;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

.infra-card.reverse {
  flex-direction: row-reverse;
}

.infra-image {
  flex: 1;
}

.infra-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infra-info {
  flex: 1;
  padding: 40px;
}

/* CARD */
.level {
  flex: 1;
  background: #111827;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

/* BADGE */
.badge {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;

  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* COLORS */

.badge.green {
  background: rgba(0,255,136,0.15);
  color: #00ff88;
}

.badge.orange {
  background: rgba(255,180,0,0.15);
  color: #ffb300;
}

.badge.red {
  background: rgba(255,77,77,0.15);

  color: #ff4d4d;
}
/* LEVEL BOXES */
.infra-levels {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.infra-levels div {
  flex: 1;
  background: #111827;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

/* COLORS */
.green { color: #00ffd0; }
.orange { color: #ffb300; }
.purple { color: #a855f7; }

/* IMPACT BOX */
.infra-impact {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(0, 183, 255, 0.05);
  border: 1px solid rgba(0,255,200,0.2);
}

.infra-impact.orange {
  background: rgba(255,180,0,0.05);
  border-color: rgba(255,180,0,0.3);
}

.infra-impact.purple {
  background: rgba(168,85,247,0.05);
  border-color: rgba(168,85,247,0.3);
}
.infra-sub {
  background: none; 
}
.badge:hover {
  box-shadow: 0 0 10px currentColor;
}

/*====== COMPAREING SECTION ======*/
.infra-compare {
  padding: 120px 20px 60px;
  text-align: center;
  background: #05070d;
}

/* HEADER */
.infra-compare-header {
  max-width: 750px;
  margin: auto;
}


/* TAG  */
.infra-compare-tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 22px;
  border-radius: 30px;

  font-size: 13px;
  letter-spacing: 1px;

  color: #00e0ff;

  background: rgba(0,224,255,0.08);
  border: 1px solid rgba(0,224,255,0.3);

  margin-bottom: 30px;

  transition: 0.3s;
}

/* glow */
.infra-compare-tag:hover {
  box-shadow:
    0 0 10px rgba(0,224,255,0.6),
    0 0 25px rgba(0,224,255,0.3);
}

/* TITLE  */
.infra-compare-title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* Fiber highlight */
.infra-compare-title span {
  color: var(--primary);
}

/* DESC */
.infra-compare-desc {
  color: #9aa0a6;
  font-size: 18px;
  line-height: 1.7;
}









/* ================ FOOTER ================== */
.footer {
  background: var(--nav-bg);
  padding: 60px 20px;
  color: var(--text-muted);
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* LEFT */
.footer-left h2 {
  color: var(--text);
}

.footer-left span {
  color: var(--primary);
}

.footer-left p {
  margin: 15px 0;
  max-width: 300px;
  font-size: 14px;
}

/* SOCIAL */
.socials i {
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* CENTER */
.footer-center h3,
.footer-right h3 {
  color: var(--text);
  margin-bottom: 10px;
}

.footer-center a {
  display: block;
  color: var(--text-muted);
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-center a:hover {
  color: var(--primary);
}

/* RIGHT */
.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  margin-bottom: 8px; 
  font-size: 13px;
  position: relative;
  padding-left: 20px;
}

.footer-right li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary);
  font-size: 18px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}


.footer-bottom p:first-child {
  margin-left: 80px;
}

.footer-bottom p:last-child {
  margin-right: 80px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

}


